# Ignore data files
data/
*.tar.gz
*.zip

# Ignore .pt model files. Too Large
models/checkpoints/
*.pt

results/visualizations
*.png

# Ignore virtual environment
venv/
.env/

# Ignore other system files
__pycache__/
.DS_Store
.ipynb_checkpoints/
