# Ignore data files
data/
*.tar.gz
*.zip

# Ignore model checkpoints
models/checkpoints/
vit_epoch_1.pt

# Ignore virtual environment
venv/
.env/

# Ignore other system files
__pycache__/
.DS_Store
.ipynb_checkpoints/
